<div class="container">
    <div class="achievement">
        <div class="title">
            <input class="achievement-board" type="submit" value="Achievement Board">  
        </div>
        <div class="top-symbol">
            <img src="public/images/simbol.png">
        </div>
        <div class="progress">
            <p>The History of Something <svg src="public/images/book.svg" width="5" height="5"></svg></p>
            <span class="bar"><span class="topic">
            </span>
             
        </span>
        <span class="chapters">2 out of 3 chapter completed </span>  
        <hr>       
        </div>
        <div class="progress">
            <p>The History of Something</p>
            <span class="bar"><span class="topic">
                 
            </span>
             
        </span>
        <span class="chapters">2 out of 3 chapter completed </span>  
           
        </div>
       
        
         <div class="down-symbol">
            <img src="public/images/simbol.png">
        </div>
    </div>
</div>
