<div class="container">
    <div class="achievement">
        <div class="title">
            <input class="achievement-board" type="submit" value="Achievement Board"></input>
        </div>
        <div class="top-symbol">
            <img src="/public/images/simbol.png" alt="Skui Chronicles"></img>
        </div>
        <div class="progress1">
            <p>The History of Something</p>
            <span class="bar"><span class="topic1">
                <h6>2 out of 3 chapter completed <hr></hr> </h6>
            </span>
        </span>  
                    
        </div>  
        <div class="progress2">
            <p>The History of Something</p>
            <span class="bar"><span class="topic2">
                <h6>3 out of 3 chapter completed <hr></hr> </h6>
            </span>
        </span>
        </div>
           
        <div class="progress3">
            <p>The History of Something</p>
            <span class="bar">
                <span class="topic3">
                    <h6>2 out of 3 chapter completed</h6>
                </span>
            </span>
        </div>
         <div class="down-symbol">
            <img src="/public/images/simbol.png" alt="Skui Chronicles"></img>
        </div>
    </div>
</div>