<!-- CSS (load bootstrap from a CDN) -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"> -->
<meta charset="UTF-8">
<!-- <meta name="viewport" 
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"> -->
<link href="/public/images/favicon.ico" rel="icon" type="image/x-icon" />
<meta name="viewport" id="viewport" content="device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/public/js/jquery.textfill.js"></script>
<link rel="stylesheet" type="text/css" href="/public/fonts/fonts.css"/>
<link rel="stylesheet" type="text/css" href="/public/css/styles.css"/>
<script>
      
//     $(document).ready(function() {
//       setTimeout(function () {
//         let viewheight = $(window).height();
//         let viewwidth = $(window).width();
//         let viewport = document.querySelector("meta[name=viewport]");
//         viewport.setAttribute("content", "height=" + window.innerHeight + ", user-scalable=0");
//       }, 300);
//             // var w = window.innerWidth;
//             // var h = window.innerHeight;
//             // $("html, body").css({"width":w,"height":h});
//     });
</script>
<title>Skui Chronicles</title>
<!-- <title> dan stylesheet diset sesuai page -->     