<div class="flashlight-background">
    <div class="dark-overlay"></div>
    <div class="summary-container">
        <span class="home-summary">Strap on your seatbelt and get ready for a ride! Skui Chronicles will take you on a journey through time to let you relive history and hopefully, learn some valuable lessons along the way. As Theodore Roosevelt once said, "The more you know about the past, the better prepared you are for the future".</span>
    </div>
    <div id="flashlight" class="flashlight"></div>
</div>

<script>
    $(".summary-container").textfill({
        minFontPixels: 1,
        changeLineHeight: true
    });

    $(window).mousemove(function(e) {
        console.log(e.pageX);
        try {
            let x = e.pageX - $("#flashlight")[0].getBoundingClientRect().left;
            let y = e.pageY - $("#flashlight")[0].getBoundingClientRect().top;
            $("#flashlight").css({"clip-path": `circle(100px at ${x}px ${y}px)`});
        }
        catch(e) {
            return;
        }
    });
    
    $(window).resize(function (){
        $(".summary-container").textfill({
            minFontPixels: 1,
            changeLineHeight: true
        }); 
    })
</script>