<div class="container">
        <div class="skui-logo">
            <img src='/public/images/logo.png' alt="Skui Chronicles"></img>
        </div>
        <div class="button">
            <input class="read-prologue" type="submit" value="Read the Prologue"></input>  
        </div>
</div> 