<div class="page-login">
    <div class="bg-login">
        <div class="section1">
            <p class="welcome">Welcome</p>
            <p>Please log in to continue</p>
        </div>
        <form action="/login" method="POST">
            <input class="input-box" type="text" placeholder="username or email" name="identifier"></input>
            <br></br>
            <input class="input-box" type="password" placeholder="password" name="password"></input>
            <br></br>
            <input class="login" type="submit" value="Log in"></input>
        </form>
        <p><a class="sign-in" href="/register">or, create a new account</a></p>
    </div>
</div>