<div class="page-login">
    <div class="bg-login">
        <div class="section1">
            <p class="welcome">Welcome</p>
            <p>Please log in to continue</p>
        </div>
        <form>
            <input class="input-box" ref={node => (this.identifier = node)} type="text" placeholder="username or email"></input><br></br>
            <input class="input-box" ref={node => (this.password = node)} type="password" placeholder="password"></input><br></br>
            <input class="login" type="submit" value="Log in"></input>
        </form>
        
    </div>
</div>