<div class="row">
        <div class="column bg1">
            <li><a href="/" class="sc">S/C</a></li>
            <div class="left-nav">
                <a href="/"><li>Home</li></a>
                <a href="/stories"><li>Stories</li></a>
                <a href="/about"><li>About</li></a>       
            </div>
        </div>
        <div class="column bg2">
            <% if (loggedin!=true) { %>
                <div class="right-nav">
                    <a href="/login"><li>Login</li></a>
                </div>
            <% } %>
                
            
        </div>
</div>