<section class="profile-page">
    <div class="profile-container">
        <div class="profile-leftBox">
            <p class="font1">Edit Profile</p>
            <p>Change Password</p>
        </div>
        <div class="profile-rightBox">
            <div class="box">
                <div class="sec1">
                    <img class="profile-box"></img>
                </div>
                <div class="sec2">
                    <p class="font2">Name Surname</p>
                    <p class="font3">change your profile picture</p><br></br>
                </div>
            </div>
            <form>     
                <label>NAME
                    <input class="edit-box" type="text" placeholder="Name Surname"></input>
                </label>
                <label>USERNAME
                    <input class="edit-box" type="text" placeholder="my_username"></input>
                </label>
                <label>EMAIL 
                    <input class="edit-box" type="email" placeholder="name.surname@email.com"></input>           
                </label>
                <input class="save" type="submit" value="Save"></input>
            </form>
        </div>
    </div>
</section>