<div class="page-login">
    <div class="bg-login">
        <div class="section1">
            <p class="welcome">Welcome</p>
            <p>Please register to continue</p>
        </div>
        <form>
            <input class="input-box" type="text" placeholder="type your name"></input><br></br>
            <input class="input-box" type="text" placeholder="type your username"></input><br></br>
            <input class="input-box" type="email" placeholder="type your email"></input><br></br>
            <input class="input-box" type="password" placeholder="type a password"></input><br></br>
            <input class="input-box" type="password" placeholder="type the password again to confifm"></input><br></br>
            <input class="login" type="submit" value="Register"></input>
        </form>
        <p>already have an account? <a class="sign-in" href=".">log in please</a></p>
    </div>
</div>