<section>        
    <div class="back">
<input class="back-menu" type="submit" value="Back"></input>
</div>
<div class="container">
    <div class="wrapper">
        <div class="gambar">
            <img src='/public/img/bajaj.png' alt="gambar-bajaj" class="bajaj"></img>
            <a href='#'>
            <img src='/public/img/play_button.png' alt="gambar-play-button" class="play_button"></img>
            </a>
        </div>
    </div>
</div>
</section>  