<section>
    <div class="container-Visnov">
        <div class="box-chara"></div>
        <div class="box-name">
            <h1>Agent Z</h1>
        </div>
        <div class="box-bubble">
            <p>Sorry, but I gotta go. See you later partner</p>
        </div>
    </div>
</section>