<section class="section-general"> 
    <div class="back">
        <input class="back-menu close-menu-option" type="submit" value="Close"></input>
    </div>
<div class="container-vn-kanan">
    <div class="wrapper">
        <!-- isi flashcard taro bawah sini -->
    </div>
</div>
</section> 

<script>
    $(document).ready(function() {
        $("#section-choices").hide();
        function resizeFontMenu(){
            let backButtonWidth = $(".back-menu").width();
            let backFontSize = backButtonWidth/5.5;
            if(backFontSize>20){
                backFontSize = 20;
            }
            $(".back-menu").css("font-size", `${backFontSize}px`);
        }
        resizeFontMenu();
        $(window).resize(resizeFontMenu);
    });
</script>