<section class="section-general"> 
    <div class="back">
        <input class="back-menu close-menu-option" type="submit" value="Close"></input>
    </div>
<div class="container-vn-kanan">
    <div class="flashcard-wrapper">
        <!-- isi flashcard taro bawah sini -->
        <script>
            var flashcards=[];
            $(".card").off();
            const cards = document.querySelectorAll('.card');
            function updateFlashcards(){
                var html = '';
                flashcards.forEach((card)=>{
                    html+= '<div class="cardContainer inactive" style="z-index: 130;">';
                    html+= '<div class="card">';
                    html+= '    <div class="side frontside">';
                    html+= '        <div class="cover-img" style="background-color: burlywood;">';
                    html+= '            <h2 class="fc-title">'+card.title+'</h2>';
                    html+= '        </div>';
                    html+= '    </div>';
                    html+= '    <div class="side backside">';
                    html+= '        <div class="desc">';
                    html+= '            <h2 class="fc-answer">'+card.answer+'</h2>';
                    html+= '        </div>';
                    html+= '    </div>';
                    html+= '</div>';
                });
                $('.flashcard-wrapper').html(html);

                const cards = document.querySelectorAll('.card');
  
                function transition() {
                if (this.classList.contains('active')) {
                    this.classList.remove('active')
                } else {
                    this.classList.add('active');
                }
                }
            
                cards.forEach(card => card.addEventListener('click', transition));

                return;
            }
            
        </script>

            <!-- <div class="cardContainer inactive">
                <div class="card">
                    <div class="side frontside">
                        <div class="cover-img" style=""></div>
                    </div>
                    <div class="side backside">   
                        <div class="info">
                            <div class="desc">
                                <h2>Nobel</h2>
                                <h4></h4>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  -->
            
        
    </div>
</div>
</section> 


<script>
    $(document).ready(function() {
        $("#section-choices").hide();
        function resizeFontMenu(){
            let backButtonWidth = $(".back-menu").width();
            let backFontSize = backButtonWidth/5.5;
            if(backFontSize>20){
                backFontSize = 20;
            }
            $(".back-menu").css("font-size", `${backFontSize}px`);
        }
        resizeFontMenu();
        $(window).resize(resizeFontMenu);
    });
</script>