<section>
    <div class="back">
        <input class="back-menu" type="submit" value="Back"></input>  
    </div>
        <div class="container-menuVisnov">
            <div class="wrapper">
                <div class="top-symbol-menuVisnov">
                    <img src='/public/img/border.png' alt="border-simbol"></img>
                </div>
                <div class="button1">
                    <input class="menu-button" type="submit" value="Flashcards"></input>
                </div>
                <div class="button2">
                    <input class="menu-button" type="submit" value="Status Monitor"></input>
                </div>
                <div class="button3">
                    <input class="menu-button" type="submit" value="Save & Quit"></input>
                </div>
                <div class="button4">
                    <input class="menu-button" type="submit" value="Mission"></input>
                </div>
                <div class="down-symbol-menuVisnov">
                    <img src='/public/img/border.png' alt="border-simbol"></img>
                </div>
            </div>
        </div>
</section>