section{
    background-color: #47121a;
    background-size: 300px;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.container-vn{
    width: 90%;
    height: 90vh;
    background: url('/public/images/background.jfif');
    background-size: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    outline: 1px solid #aa7f19;
    outline-offset: 15px;
    border: 2px solid #aa7f19;
}

.box-chara{
    width: 150px;
    height: 150px;
    background: url('/public/images/cogan.png'), rgba(0, 0, 0, 0.8);
    border: 3px solid #97721d;
    background-size: cover;
    margin: 200px 0 0 70px;
}

.box-name{
    width: 100px;
    height: min-content;
    background-image: linear-gradient(#865f0f, #9c7315, #aa7f19);
    margin: 30px 0 0 70px;
    border: 2px solid #aa7f19;
    text-align: center;
    padding: 1px 8px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.box-name h1{
    font-family: "Playfair Display Regular";
    color: white;
    font-size: 17px;
}

.box-bubble{
    width: 800px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 25px 50px 25px;
    border: 3px solid #ad7b19;
    outline: 1px solid #aa7f19;
    outline-offset: -15px;
    position: relative;
    margin-left: 70px;
}

.box-bubble p{
    font-family: "Playfair Display Regular";
    color: white;
}


body {
    margin: 0px;
    padding: 0px;
}

.wrapper{
    width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

input{
    width:150px;
    margin-top:3px;
    padding:10px;
}

.gambar{
    position: relative;
    top: 0;
    left:0;
}

.bajaj{
    position:relative;
    top:0;
    left:0;
    opacity:0.7;
    
}

.play_button{
    bottom:45%;
    left:45%;
    position:absolute;
    cursor:pointer;
}

.wrapper{
    width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

input{
    width:150px;
    margin-top:3px;
    padding:10px;
}

.back-menu{
    width:150px;
    line-height: 30px;
    font-size:20px;
    text-align: center;
    font-family: "Rose Knight Regular";
    background-image:linear-gradient(to right, #111723, #333a4d, #111723);
    color:#ffffff;
    cursor:pointer;
    outline: 1px solid #ce953a;
    outline-offset: -8px;
    position:absolute;
    top:0;
    right:0;  
    border-bottom-left-radius: 25px 15px;
    border-color: #ce953a ;
}

.gambar{
    position: relative;
    top: 0;
    left:0;
}

.bajaj{
    position:relative;
    top:0;
    left:0;
    opacity:0.7;
    
}

.play_button{
    bottom:45%;
    left:45%;
    position:absolute;
    cursor:pointer;
}

body {
    margin: 0px;
    padding: 0px;
}


.container{
    background-image: url('/public/images/background.png'); 
    background-repeat: repeat;
    width: 100%;
    height: 100vh;
    text-align: center;
    background-size: 300px;
    outline: 2px solid #ce953a;
    outline-offset: -20px;  
}

.wrapper{
    width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

input{
    width:150px;
    margin-top:3px;
    padding:10px;
}
  
.menu-button{
    width:200px;
    padding:10px;
    font-size:17px;
    text-align: center;
    font-family: "Playfair Display Italic";
    background-image:linear-gradient(to right, #5d001f, #8c1b2a, #5d001f    );
    color:#ffffff;
    cursor:pointer;
    outline: 1px solid #ce953a;
    outline-offset: -7px;  
    margin-top : 10px;
}

.back-menu{
    width:150px;
    line-height: 30px;
    font-size:20px;
    text-align: center;
    font-family: "Rose Knight Regular";
    background-image:linear-gradient(to right, #111723, #333a4d, #111723);
    color:#ffffff;
    cursor:pointer;
    outline: 1px solid #ce953a;
    outline-offset: -8px;
    position:absolute;
    top:0;
    right:0;  
    border-bottom-left-radius: 25px 15px;
    border-color: #ce953a ;
}

.top-symbol img{
    width:300px;
    margin-bottom:10px;
}

.down-symbol img{
    transform: rotate(180deg);
    width:300px;
    margin-top: 20px;
}