* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

.section-general{
    background-color: #101622;
    
}


#frame {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.767);
    z-index: 990
}

section {
    background-size: 300px;
    background-position: center;
    height: 100%;
    width: 100%;
    position: relative;
}

#container-display {
    width: 90%;
    height: 90%;
    /* background: url('/public/images/background.jfif'); */
    background-size: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    outline: 2px solid #aa7f19;
    outline-offset: 20px;
    border: 2px solid #aa7f19;
}

.box-chara{
    width: 25%;
    height: 25%;
    background: rgba(0, 0, 0, 0.8);
    border: 2px solid #97721d;
    background-size: cover;
    margin: 20% 0 0 10%;
    position: relative;
}

.box-name{
    width: fit-content;
    max-width: 50%;
    background-image: linear-gradient(#865f0f, #9c7315, #aa7f19);
    margin: 5% 0 0 10%;
    border: 2px solid #aa7f19;
    text-align: center;
    padding: 1px 8px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    /* left: 50%;
    transform: translateX(-50%); */
}

.box-name span{
    font-family: "Playfair Display Regular";
    color: white;
}

.box-bubble{
    width: 69%;
    max-height: 30%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5%;
    border: 2px solid #ad7b19;
    outline: 1px solid #aa7f19;
    outline-offset: -10px;
    position: relative;
    margin-left: 10%;
    box-sizing: content-box;
    padding-top: 10px;
    /* left: 50%;
    transform: translateX(-50%); */
    /* top: 65%;
    left: 15%;
    transform: translate(-50%, 0); */
}

.box-bubble span{
    font-family: "Playfair Display Regular";
    color: white;
}

.container-vn-kanan{
    background-image: url('/public/images/background.png'); 
    background-color: #ffffff;
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    text-align: center;
    background-size: 300px;
    outline: 2px solid #ce953a;
    outline-offset: -20px;  
}

.wrapper{
    width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

.section-choices{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button{
    text-align: center;
    position: relative;
}
  
.menu-chap{
    width:300px;
    padding:10px;
    font-size:15px; 
    font-family: "Sen Regular";
    color:#ffffff;
    cursor:pointer;
    margin-top : 10px;
    text-align: left;
    background-color: #5d001f;
    border-radius: 12px;

}

.menu-chap:hover {
    background-color: #6b2a2a;
    color: #ffffff;
}
  
.menu-button{
    width:200px;
    padding:10px;
    text-align: center;
    font-family: "Playfair Display Italic";
    background-image:linear-gradient(to right, #5d001f, #8c1b2a, #5d001f    );
    color:#ffffff;
    cursor:pointer;
    outline: 1px solid #ce953a;
    outline-offset: -7px;  
    margin-top : 10px;
}

.back-menu{
    width:30%;
    height: 11%;
    max-height: 45px;
    text-align: center;
    font-family: "Rose Knight Regular";
    background-image:linear-gradient(to right, #111723, #333a4d, #111723);
    color:#ffffff;
    cursor:pointer;
    /* outline: 1px solid #ce953a;
    outline-offset: -7px; */
    position:absolute;
    z-index: 10;
    top:0;
    right:0;  
    margin: 0;
    border-bottom-left-radius: 15px;
    border-color: #ce953a ;
    border-right: 0;
    border-top: 0;
}

.top-symbol img{
    margin-bottom:5px;
}

.down-symbol img{
    transform: rotate(180deg);
    margin-top: 20px;
}

.border img{
    max-width:300px;
    width:60%;
}

input{
    width: 20%;
    margin-top:3px;
    padding:10px;
    position: relative;
}

.next-button{
    position: relative;
    top: 0;
    left:0;
    cursor: pointer;
}

.bajaj{
    position:relative;
    width: 50%;
    top:0;
    left:0;
    opacity:0.7;
    z-index: 10;
}

.play_button{
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15%;
    position:absolute;
    cursor:pointer;
}