section{
    background-color: #47121a;
    background-size: 300px;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.container{
    width: 90%;
    height: 90vh;
    background: url('background.jfif');
    background-size: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    outline: 1px solid #aa7f19;
    outline-offset: 15px;
    border: 2px solid #aa7f19;
}

.box-chara{
    width: 150px;
    height: 150px;
    background: url('cogan.png'), rgba(0, 0, 0, 0.8);
    border: 3px solid #97721d;
    background-size: cover;
    margin: 200px 0 0 70px;
}

.box-name{
    width: 100px;
    height: min-content;
    background-image: linear-gradient(#865f0f, #9c7315, #aa7f19);
    margin: 30px 0 0 70px;
    border: 2px solid #aa7f19;
    text-align: center;
    padding: 1px 8px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.box-name h1{
    font-family: "Playfair Display Regular";
    color: white;
    font-size: 17px;
}

.box-bubble{
    width: 800px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 25px 50px 25px;
    border: 3px solid #ad7b19;
    outline: 1px solid #aa7f19;
    outline-offset: -15px;
    position: relative;
    margin-left: 70px;
}

.box-bubble p{
    font-family: "Playfair Display Regular";
    color: white;
}