<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../components/head'); %>
    <link rel="stylesheet" type="text/css" href="/public/css/game.css"/>
</head>
<body>
<div class="block-container">
<div class="blocks">
    <div id="left-block"><%- include('../components/VNdisplay'); %></div>
    <div id="right-block"><%- include('../components/VNbajaj'); %></div>
</div>
</div>
</body>
</html>