<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../components/head'); %>
    <link rel="stylesheet" type="text/css" href="/public/css/home.css"/>
</head>
<body>
    <div id="navbar"><%- include('../components/navbar'); %></div>
    <div id="left-block"><%- include('../components/homeLogo'); %></div>
    <div id="right-block"><%- include('../components/homeFlashlight'); %></div>
</body>
</html>