<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../components/head'); %>
    <meta name="theme-color" content="#5d001f">
    <link rel="stylesheet" type="text/css" href="/public/css/home.css"/>
</head>
<body>
<div class="block-container">
<div class="blocks">
    <div id="navbar"><%- include('../components/navbar'); %></div>
    <div id="left-block"><%- include('../components/homeLogo'); %></div>
    <div id="right-block"><%- include('../components/homeFlashlight'); %></div>
</div>
</div>
</body>
</html>