<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../components/head'); %>
    <meta name="theme-color" content="#192031">
    <link rel="stylesheet" type="text/css" href="/public/css/login.css"/>
</head>
<body>
<div class="block-container">
<div class="blocks">
    <div id="navbar">
        <%- include('../components/navbar'); %>
    </div>
    <%- include('../components/registerForm'); %>
</div>
</div>
</body>
</html>
<script>
    $(document).ready(function() {
        var blockHeight = $(".blocks").height();
        var blockWidth = $(".blocks").width();
        $(window).resize(function(){
            if($(window).height() < 600){
                $(".page-login").height(blockHeight).width(blockWidth);
                $(".blocks").height(blockHeight).width(blockWidth);
            }
        })
    });
</script>