<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../components/head'); %>
    <meta name="theme-color" content="#5d001f">
    <link rel="stylesheet" type="text/css" href="/public/css/styleKanan.css"/>
    <link rel="stylesheet" type="text/css" href="/public/css/stylePrologChapters.css"/>
</head>
<body>
<div class="block-container">
<div class="blocks">
    <div id="left-block"><%- include('../components/listChapters'); %></div>
    <div id="right-block"><%- include('../components/prologChapter'); %></div>
</div>
</div>
</body>
</html>
